.login_h {
    text-align: center;
    margin-top: 45%
}
.box {
    background-color: #86868633;
    border-radius: 25px;
    border: 2px solid #999090;
    height: 60%;
    padding-top: 40px ;
    padding-bottom: 40px;
}
.col-xs-12 input {
    margin-top: 20px;
}
.title_table{
    margin-bottom: 20px;

}

.btn-block {
    display: block;
    width: 24%;
    float: right;
    margin-right: 17px;
}
.alert_danger {
    color: #a94442;
}
/* ⬆ 登录页面 */


.left{

    float: left;
}

.right{

    float: right;
}
