.login_h {
    text-align: center;
    /*让div内部文字居中*/

    margin-top: 45%
}

.box {
    background-color: #86868633;
    height: 60%;
    padding-top: 40px ;
    padding-bottom: 40px;
    box-shadow: -1px -1px 3px rgb(125 125 125), 1px 1px 3px rgb(0 0 0);
}

.col-xs-12 input {
    margin-top: 20px;
}
.title_table{
    margin-bottom: 20px;

}

.btn-block {
    display: block;
    width: 24%;
    float: right;
    margin-right: 17px;
}
.alert_danger {
    color: #a94442;
}

