div {

    -webkit-user-select: text;

    -moz-user-select: text;

    -o-user-select: text;

    user-select: text;

}

.nav>li {
    height: 50px !important;
}

.navbar-default {
    background-color: unset;
    background-color: unset;
    border-color: unset;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #ffffff;
    background-color: unset;
    border-bottom: 2px solid #ff552e;
    padding-bottom: 11px;
}

.navbar-default .navbar-nav>li>a {
    color: #363636;
}


.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: unset;
    border: unset;
}

.container-fluid {
    padding-right: 350px;
    padding-left: 350px;
    margin-right: auto;
    margin-left: auto;
    background-color: #e4eaf1a6;
    box-shadow: 0px 2px 3px rgb(65, 0, 0);
}

.logo-img {
    height: 40px;
    margin-top: -10px;
}

.container {
    padding-right: unset;
    padding-left: unset;
    margin-right: auto;
    margin-left: auto;
}

.footer {

    background-color: #e4eaf1a6;
    font-size: 12px;
    height: 60px;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px -2px 3px rgb(65, 0, 0);
}
.five {
    background-color: #e4eaf1a6;
    box-shadow: -3px -3px 3px rgb(247, 217, 217), 3px 3px 3px rgb(65, 0, 0);
    height: 262px;
    width: 100%;
    border-radius: 8px;
   
}


.btn-primary {
    color: #c7c7c7;
    background-color: #e4eaf1a6;
    border-color: unset;
}

.btn-primary:hover {
    color: #ebebeb;
    background-color: #c2c5c9d8;
    border-color: unset;
}

.btn-primary.active,
.btn-primary:active,
.open>.dropdown-toggle.btn-primary {
    color: #c7c7c7;
    background-color: #e4eaf1f3;
    background-image: none;
    border-color: unset;
}

.btn-primary.focus,
.btn-primary:focus {
    color: #c7c7c7;
    background-color: #e4eaf1f3;
    border-color: unset;
}


.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open>.dropdown-toggle.btn-primary.focus,
.open>.dropdown-toggle.btn-primary:focus,
.open>.dropdown-toggle.btn-primary:hover {
    color: #a1a1a1;
    background-color: #e4eaf1f3;
    border-color: unset;
}




.box {
    background-color: #86868633;
    box-shadow:  -1px -1px 3px rgb(125 125 125), 1px 1px 3px rgb(0 0 0);

}
.box-bg {
    margin-bottom: 320px;
}

.font {

    font-size: 16px;
    font-weight: bolder;
    padding-top: 100px;
    padding-left: 20px;
}

.font a {

    font-size: 20px;
    color: #ffdc8a;
    text-decoration: none;

}

.font span {
    color: #ffffff;
}
.spanf {

    font-size: 18px;
}

.image {
    height: 200px;
    margin-top: -140px;
}

.five:hover .image {
    height: 190px;
}

.five:hover .font a {
    font-size:25px;
}

.box-bg .wz {
    font-family: 'KaiTi';
    margin-left: 10px;
    ;
    width: 100%;
    color: #ffffff;
    margin-bottom: 40px;
    margin-top: 20px;
}
li a img{
    height: 32px;
    margin-right: 10px;
}

.breadcrumb {
    padding: unset;
    margin-bottom: 20px;
    list-style: none;
    background-color: #e4eaf1a6;
    box-shadow: -2px -2px 3px rgb(247, 217, 217), 3px 3px 3px rgb(65, 0, 0);
    border-radius: 4px;
}

.col-sm-2 {
    float: left;
    padding-right: unset;
    padding-left: unset;
    color: #404040;
}

input[disabled],
select[disabled],
textarea[disabled],
input[readonly]:not(.cloned-text-input),
textarea[readonly]:not(.cloned-text-input),
select[readonly] {
    background-color: #ffffff2b;
    cursor: not-allowed;
}

.alert-warning {
    color: #8a6d3b;
    background-color: unset;
}
.alert-danger {
    color: #a94442;
    background-color: unset;
}

.breadcrumb a {
    color: black;
    text-decoration: none;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: unset;
    margin: unset;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 0px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}



.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    color: #fff;
    font-weight: unset;
    line-height: unset;
}


.image {
    height: 200px;
    margin-top: -140px;
}

.five:hover .image {
    height: 190px;
}

.nvapath {
    width: unset;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    margin-left: -10px;
    margin-right: 10px;
    margin-top: 10px;
}

.breadcrumb {
    padding: unset;
    margin-bottom: 20px;
    list-style: none;
    background-color: #e4eaf1a6;
    box-shadow: -2px -2px 3px rgb(247, 217, 217), 3px 3px 3px rgb(65, 0, 0);
    border-radius: 4px;
}

.breadcrumb a {
    color: black;
    text-decoration: none;
}


.btn-a a {
    margin-bottom: 20px;
    margin-left: 20px;
}

.left {
    float: left;
}

.right {
    float: right;
}


.form-p {
    margin-top: 20px;
}


.form-group {
    margin-bottom: 30px;
}


.form-control {
    display: block;
    width: 100%;
    padding: unset;
    font-size: 14px;
    line-height: 1.42857143;
    color: unset;
    background-color: #ffffff2b;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}

input[disabled],
select[disabled],
textarea[disabled],
input[readonly]:not(.cloned-text-input),
textarea[readonly]:not(.cloned-text-input),
select[readonly] {
    background-color: #ffffff2b;
    cursor: not-allowed;
}

.alert-warning {
    color: #8a6d3b;
    background-color: unset;
}

.breadcrumb a {
    color: black;
    text-decoration: none;
}

.form-horizontal .form-group {
    margin-right: 0px;
    margin-left: 0px;
}

/* eq */


.col-sm-2 {
    float: left;
    padding-right: unset;
    padding-left: unset;
}



h4 {
margin-top: 10px;
margin-bottom: 30px;
font-weight: bolder;
color:#ffffff;
}


input[disabled], select[disabled], textarea[disabled], input[readonly]:not(.cloned-text-input), textarea[readonly]:not(.cloned-text-input), select[readonly] {
background-color: #ffffff2b;
cursor: not-allowed;
}

.alert-warning {
color: #8a6d3b;
background-color:unset;
}

.breadcrumb a {
color:black;
text-decoration: none;
}

/* add-heat */
.backgc {
    background-color: rgb(51 51 51 / 50%);
}

.alert {
    padding: unset;
    margin-bottom: unset;
    border: 1px solid transparent;
    border-radius: unset;
   margin-top: 5px;
}


