{% extends 'rentPc/base.html' %}
{% block main_body %}
  <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        首页
        <small>后台管理</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">

      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-4 col-xs-12">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>添加租客</h3>

              <p>add TENANT</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
              
            </div>
            <a href="rent/add/" class="small-box-footer">进入 <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-4 col-xs-12">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>添加房间</sup></h3>

              <p>add ROOM</p>
            </div>
            <div class="icon">
              <i class="ion ion-home"></i>
            </div>
            <a href="room/add/" class="small-box-footer">进入 <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-4 col-xs-12">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>添加收租</h3>

              <p>collect rents</p>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
            <a href="rental/add/" class="small-box-footer">进入<i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>

      
      <div id="main" style="width: 600px;height:400px;"></div>
      

    </section>
    <!-- /.content -->
{% endblock %}
{% block javascript %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.4.3/echarts.min.js"></script>
<script type="text/javascript">
  // 基于准备好的dom，初始化echarts实例
  var myChart = echarts.init(document.getElementById('main'));

  // 指定图表的配置项和数据
  var option = {
    xAxis: {
    type: 'category',
    boundaryGap: false,
    data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
  },
  yAxis: {
    type: 'value'
  },
  series: [
    {
      data: [820, 932, 901, 934, 1290, 1330, 1320],
      type: 'line',
      areaStyle: {}
    }
  ]
};
  // 使用刚指定的配置项和数据显示图表。
  myChart.setOption(option);
</script>


{% endblock %}