{% load static from static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AdminLTE 2 | Starter</title>
  <!-- 支持响应式布局 -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="{% static 'rent/bower_components/bootstrap/dist/css/bootstrap.min.css'%}">
  <!-- 象形字体 -->
  <link rel="stylesheet" href="{% static 'rent/bower_components/font-awesome/css/font-awesome.min.css'%}">
  <!-- 图标 -->
  <link rel="stylesheet" href="{% static 'rent/bower_components/Ionicons/css/ionicons.min.css'%}">
  <!-- 主题风格样式 -->
  <link rel="stylesheet" href="{% static 'rent/dist/css/AdminLTE.min.css'%}">
  <!-- AdminLTE 皮肤.这里选择的是skin-blue样式，我们还可以有其他皮肤可以选择. -->
  <link rel="stylesheet" href="{% static 'rent/dist/css/skins/skin-blue.min.css'%}">
  <!-- 兼容IE9以下浏览器 -->
  <!--[if lt IE 9]>
  <script src="{% static 'rent/local/js/html5shiv.min.j'%}"></script>
  <script src="{% static 'rent/local/js/respond.min.js'%}"></script>
  <![endif]-->
  <!-- Google Font -->
  <link rel="stylesheet" href="{% static 'rent/local/css/google_fonts.css'%}">
  <link rel="stylesheet" href="{% static 'rent/local/css/login.css'%}">
</head>

<body class="hold-transition login-page">
  <div class="container">
    <!-- register -->
    <div class="form-container sign-up-container">
      <div class="form" >
        <form action="#" method="post" novalidate>
          {% csrf_token %}
          <h2>注册</h2>
          {% for field in form %}
          {{field.label}}{{field}}
          {% endfor %}
          <button type="submit" class="signUp">注册</button>
        </form>
      </div>
    </div>
    <!-- login -->

    <div class="form-container sign-in-container">
      <div class="form" >
        <form action="{% url 'pc_index' %}" method="post" novalidate>
          {% csrf_token %}
          <h2>登录</h2>
          <input type="email" name="tel" id="tel" placeholder="手机号">
          <input type="password" name="password" id="password" placeholder="密码">
          <!-- <a href="#" class="forget-password">忘记密码</a> -->
          <p style="color: brown;">{{msg}}</p>
          <p style="color: rgb(42, 165, 89);">{{msg_t}}</p>
          <button type="submit" class="signIn">登录</button>
        </form>
      </div>
    </div>
    <!-- overlay container -->
    <div class="overlay_container">
      <div class="overlay">
        <!-- overlay left -->
        <div class="overlay_panel overlay_left_container">
          <h2>欢迎回来</h2>
          <p>登录房屋出租管理系统</p>
          <button id="sign-in">登录</button>
        </div>
        <!-- overlay right -->
        <div class="overlay_panel overlay_right_container">
          <h2>你好,朋友</h2>
          <p>第一次使用没有账号,请注册！</p>
          <button id="sign-up">注册</button>
        </div>
      </div>
    </div>
  </div>

  <!-- jQuery 3 -->
  <script src="{% static 'rent/bower_components/jquery/dist/jquery.min.js'%}"></script>
  <!-- Bootstrap 3.3.7 -->
  <script src="{% static 'rent/bower_components/bootstrap/dist/js/bootstrap.min.js'%}"></script>
  <!-- iCheck -->
  <script src="{% static 'rent/plugins/iCheck/icheck.min.js'%}"></script>
  <script>
    $(function () {
      $('input').iCheck({
        checkboxClass: 'icheckbox_square-blue',
        radioClass: 'iradio_square-blue',
        increaseArea: '20%' /* optional */
      });
    });

    const container = document.getElementsByClassName('container')[0];
    const signIn = document.getElementById('sign-in');
    const signUp = document.getElementById('sign-up');
    console.log(container)
    signUp.onclick = function () {
      container.classList.add('active');
    }
    signIn.onclick = function () {
      container.classList.remove('active');
    }
  </script>
</body>

</html>